body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orangered;
}

.flexable-containt {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(9, 123, 223), tomato, rgb(49, 12, 181));
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 10px;
}

.top-sidebanner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.DreamBig {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Expariences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.expariance-item {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

#full-stack-devoloper {
    border-left: 7px solid tomato;
}

#Baby-web-devolopar {
    border-left: 7px solid cyan;
}

footer p {
    text-align: center;

}